                        <div class="grid-item" data-id="{{id}}">
                            <div class="col-sm-12"><img src="{{image}}" class="matchpic" alt="">
                            
                                <h4>{{name}}</h4>
                                <p>{{birthday}}
                                <br/>{{city}}, {{state}}
                                </p>
                                <p class="hidetrick"><span class="preference">{{gender}}</span></p>
                                <p><span class="preference">{{interested_in}}</span></p>
                                <br/>
                                 <button type="button" class="btn btn-success btn-match hidetrick flirt" data-id="{{id}}">Flirt</button> <br/><br/>
                                <button type="button" class="btn btn-secondary btn-match hidetrick whatever" data-id="{{id}}">Whatever</button>
                            </div>
                            <div class="col-sm-12 matchinfo">
                                <p><span class="listbold">Likes: </span>{{wants_to}}</p>
                                <p class="hidetrick"><span class="listbold">Favorite Things: </span>{{faves}}</p>
                                <p class="hidetrick"><span class="listbold">Bio: </span>{{bio}}</p>
                                <span class="glyphicon glyphicon-play pull-right" data-id="{{id}}"  aria-hidden="true"></span>
                            </div>
                            <br>
                        </div>

