<div class="grid-item">
    
    <div class="col-sm-8">
        
        <img src="{{match-pic}}" class="matchpic" width=100% alt="">
    
    </div>
    
    <div class="col-sm-4 btn-column">
        
        <button type="button" class="btn btn-success" data-id={{id}}>
            Flirt
        </button>

        <button type="button" class="btn btn-secondary" data-id={{id}}>
            Whatever
        </button>
    
    </div>
    
    <div class="col-sm-12 matchinfo">
        
        <h4>{{match-name}}</h4>
        <p>{{match-age}} • {{match-city}}, {{match-state}}</p>

    </div>
    
    <br>

</div>