
                <div class="row ">
                    <div class="col-sm-2">
                        <img class="from-{{fromId}}-name">
                    </div>
                    <div class="col-sm-10 {{send-recieve}}">
                        <div class="well">
                            <h4 class="from-{{fromId}}-name">{{fromId}}</h4>
                            <p>{{text}}</p>
                        </div>
                    </div>
  
                </div>