<div class="row msgrow flirt-{{isFlirt}}">
                    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}} says: <img class="pull-right flirt-img" src="assets/images/{{isFlirt}}.png"alt=""></h3> 
        </div>
    <div class="panel-body" class="row">

        <div class="col-sm-2">
            <img class="msgimage" src={{user.image}}>
        </div>
        <div class="col-sm-10 {{send-recieve}}">
                        <div class="well flirt-{{isFlirt}}">
                            <p class="msgtext">{{text}}</p>
                        </div>
                        {{#if readTo}}
                            <button class="btn msgbtn btn-success pull-right"> <span class="glyphicon glyphicon-check"></span> </button>&nbsp;
                        {{else}}
                            <button class="btn msgbtn btn-info read pull-right" data-id={{id}}> Mark As Read </button>&nbsp;
                        {{/if}}

                                <button type="button" class="btn btn-secondary btn-match pull-right whatever" data-id="{{user.id}}">Whatever</button>&nbsp;
                                                <button type="button" class="btn btn-success btn-match pull-right flirt" data-id="{{user.id}}">Flirt</button>&nbsp;
                    </div>
        </div>
    </div>
</div>


