<div class="row msgrow flirt-{{isFlirt}}">
                    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">to {{to.name}} from {{user.name}}:</h3>
        </div>
    <div class="panel-body">

        
        <div class="col-sm-10 {{send-recieve}}">
                        <div class="well">
                            <p class="msgtext">{{text}}</p>
                        </div>
                        {{#if readTo}}
                            <button class="btn msgbtn btn-success"> Read </button>
                        {{else}}
                            <button class="btn msgbtn btn-info read pull-right" data-id={{id}}> Mark As Read </button>
                        {{/if}}
        </div>

        <div class="col-sm-2">
            <img class="msgimage" src={{to.image}}>
        </div>

        </div>
    </div>
</div>

