<div class="row msgrow flirt-{{isFlirt}}">
                    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">to {{to.name}}...<img class="pull-right flirt-img" src="assets/images/{{isFlirt}}.png" alt=""></h3> 
        </div>
    <div class="panel-body row">

        
        <div class="col-sm-10 {{send-recieve}}">
                        <div class="well">
                            <p class="msgtext">{{text}}</p>
                        </div>
        </div>

        <div class="col-sm-2">
            <img class="msgimage" src={{to.image}}>
        </div>

        </div>
    </div>
</div>

